@import "tailwindcss";
:root {
  --background: #ffffff;
  --surface: #f8fafc;
  --text: #0f172a;
  --primary: #0066cc;    
  --secondary: #e0f2fe; 
  --border: #e2e8f0;
}

.dark {
  --background: #020617;
  --surface: #0f172a;
  --text: #f8fafc;
  --primary: #38bdf8;    
  --secondary: #1e293b;
  --border: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-hind-siliguri), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}